$font: "Montserrat", sans-serif;
$backgroundColor: #272838;
$textcolor: #ffffff;

.contact-container {
    background-color: $backgroundColor;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contact-container__box {
        font-size: 1.7vmin;
        text-align: center;
        color: $textcolor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2vmin;
        font-family: $font;
        .header {
            width: 115%;
            height: 5%;
            padding: 4px 0;
            background-color: $textcolor;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            .header__text {
                font-size: 4vmin;
                font-weight: 800;
                color: $backgroundColor;
                margin: 0;
            }
        }
        .adress {
            .adress__location {
                font-weight: bold;
            }
            .adress__email {
                margin-bottom: -5px;
            }
        }
        .contact-container {
            color: #ffffff;
            text-align: center;
        }
        .work-time {
            .work-time__name {
                font-weight: bold;
            }
            .work-time__workday--words {
                font-weight: 500;
                margin-bottom: -5px;
            }
            .work-time__saturday--words {
                font-weight: 500;
                margin-bottom: -5px;
            }
            .work-time__sunday {
                font-weight: 500;
                margin-bottom: -5px;
            }
        }
    }
    .map-container__location {
        width: 70vw;
        height: 30vh;
    }
}

@media (min-width: 568px) {
    .contact-container {
        flex-direction: row;
        .contact-container__box {
            padding-right: 70px;
        }
        .map-container__location {
            width: 50vw;
            height: 55vh;
        }
    }
}
