$font: "Montserrat", sans-serif;
$backgroundColor: #272838;
$textcolor: #ffffff;

.contacts-container {
    background-color: $backgroundColor;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contact-container {
        font-size: 10px;
        text-align: center;
        color: $textcolor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .contact-header__container {
            width: 50%;
            height: 5%;
            background-color: $textcolor;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            .contact-header__text {
                font-size: 15px;
                color: $backgroundColor;
            }
        }
    }
}

@media (min-width: 1024px) {
    .contacts-container {
        flex-direction: row;

        .contact-container {
            font-size: 15px;
            padding-right: 70px;
            .contact-header__container {
                width: 80%;                
                .contact-header__text {
                    font-size: 30px;
                    margin: 0px;
                }
            }
        }
        .map-container__location {
            width: 50vw;
            height: 50vh;
        }
    }
}

// .component-container__contact {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//   }

// .contact-header-container {
//     color:  $backgroundColor;
//     grid-column-start: 1;
//     grid-column-end: 3;
//         .contact-header {
//             background-color: #FFFFFF;
//             color: $backgroundColor;
//             width: 30%;
//             border-radius: 5px;
//             margin-left: 10%;
//             text-align: center;
//             font-family: $font;
//             font-weight: 800;
//             padding: 5px;
//         }
// }

// .adress {
//     .adress__location {
//         font-family: $font;
//         font-weight: bold;
//     }
//     .adress__email {
//         margin-bottom: -10px;
//     }
// }

// .contact-container {
//     color: #FFFFFF;
//     text-align: center;
// }

// .work-time {
//     margin-top: 70px;
//     .work-time__name {
//         font-weight: bold;
//     }
//     .work-time__workday--words {
//         font-weight: 500;
//         margin-bottom: -10px;
//     }
//     .work-time__saturday--words {
//         font-weight: 500;
//         margin-bottom: -10px;
//     }
//     .work-time__sunday {
//         font-weight: 500;
//         margin-bottom: -10px;
//     }
// }

// .map-container {
//     margin-right: 50px;
//     .map-container__location {
//         width: 100%;
//         height: 45vh;
//         margin-top: 20px;
//         border-radius: 10px;
//     }
// }
