$fontColor: #ffffff;
$font: "Montserrat", sans-serif;

.footer {
    background-color: #d24747;
}

.component-container__footer {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-header {
    color: $fontColor;
    font-family: $font;
    .contact-header__name {
        font-size: 2.5vmin;
        font-weight: 400;
        margin: 5px 0 0 0;
    }
    .contact-header__description {
        font-size: 1.5vmin;
        font-weight: 400;
        margin: 0 0 10px 0;
    }
}

.links {
    color: $fontColor;
    font-family: $font;
    font-size: 1.5vmin;
    .links__policy {
        margin: 0 0 5px 0;
    }
    .links__tyres {
        margin: 0 0 5px 0;
    }
    .links__page {
        margin: 0 0 5px 0;
    }
}

.date {
    color: $fontColor;
    font-family: $font;
    font-size: 1.5vmin;
    .date__year {
        margin: 5px 0 0 0;
    }
}

@media (min-width: 568px) {
    .component-container__footer {
        flex-direction: row;
        justify-content: space-around;
    }
}
