$primaryBackgroundColor: rgba(210, 71, 71, 0.75);
$textColor: #ffffff;
$secondaryBackgroundColor: #272838;
$mainFont: "Montserrat", sans-serif;

.header-container {
    background-image: url("../images/test-image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    .header-container__box {
        background-color: $primaryBackgroundColor;
        height: 55vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .company-header__name {
            font-family: $mainFont;
            color: $textColor;
            font-weight: 800;
            text-align: center;
            font-size: 35px;
        }
        .company-description {
            width: 80%;
            text-align: center;
            background-color: $secondaryBackgroundColor;
            height: 15vh;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            .company-description__paragraph {
                text-transform: uppercase;
                font-size: 25px;
                font-weight: 800;
                font-family: $mainFont;
                color: $textColor;
            }
        }
    }
    @media (min-width: 900px) {
        .header-container__box {
            height: 100vh;
            width: 60vw;
            margin: auto;
            .company-header__name {
                font-size: 100px;
            }
            .company-description {
                .company-description__paragraph {
                    font-size: 36px;
                }
            }
        }
    }
}
